#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #303b49;
  padding: 1rem 1.5rem;
  border-radius: 1em;
  max-width: 30rem;
  font-weight: 500;
}

.quote {
  font-size: 1.3em;
}

.quote-no {
  color: #5490ff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.quote-character {
  font-size: 1.1em;
  padding-top: 0.3rem;
  margin-bottom: 0;
}

.generate {
  border-radius: 50%;
  background-color: #5490ff;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -3rem;
}

.grid {
  display: flex;
  flex-direction: column;
}

.input-field {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  padding-bottom: 1rem;
}

.texts {
  text-align: left;
}

.texts > p {
  font-weight: 500;
}

.generate-button {
  background-color: #5490ff;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
  background-color: #303b49;
  max-width: 23rem;
}

.loading {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  padding: 1rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
